/* ==================================== */
/* ========Page Not Found Styles======= */
/* ==================================== */
.page_not_found_holder {
  position: relative;
  width: 376px;
  margin: 0 auto;
}

.page_not_found_container {
  width: 100%;
  margin: 0 auto;
}

.page_not_found_text,
.page_not_found_text_2 {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  opacity: 0.8;
  text-align: center;
}

.page_not_found_text_2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  bottom: 10%;
  padding: 0.8rem 2rem;
  border-radius: 0.8rem;
}

.page_not_found_anime_one {
  animation: anime_not_found_leaf 2s ease-in-out infinite alternate-reverse;
}

@keyframes anime_not_found_leaf {
  0% {
    transform: rotateY(10deg) translate(-169.93432px, -164.42601px);
  }
  100% {
    transform: rotateY(-10deg) translate(-169.93432px, -164.42601px);
  }
}
