@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
  overflow-x: hidden !important;
}

body::-webkit-scrollbar {
  width: 4px;
  background: rgba(159, 162, 180, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: rgba(74, 89, 255, 0.724);
  border-radius: 10rem;
}

.app_layout {
  min-height: 100vh;
  transition: 0.3s ease-in-out;
}

#dark.app_layout {
  /* background: rgb(75, 85, 99); */
  background: rgba(54, 55, 64, 0.9);
}

#dark .main_pages {
  box-shadow: inset 4px 0 12px rgba(54, 50, 75, 0.7);
}

.sidebar_links a.active {
  background: rgba(159, 162, 180, 0.08);
  color: #fafafa;
}

.sidebar_over_lay {
  background: rgba(49, 49, 50, 0.85);
  backdrop-filter: blur(1.5px);
  z-index: 998;
  transition: 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.sidebar_cont {
  min-height: 100vh;
  z-index: 999;
}

.sidebar_cont a svg {
  font-size: 2.2rem;
}

nav svg {
  font-size: 2.2rem;
  cursor: pointer;
}

.nav_form_input {
  width: 0px;
  transition: 0.5s;
}

.nav_form {
  padding-right: 0.4rem;
}

.showInput.nav_form {
  padding: 0.4rem 1rem;
  box-shadow: 0 0 0 0.13rem rgba(159, 162, 180, 0.6);
  border-radius: 0.8rem;
}

.mobile_search_box {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.35s ease-in-out;
}

.show_mobile_search_box.mobile_search_box {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.showInput .nav_form_input {
  width: 178.5px;
  transition: width 0.5s;
  border-radius: 0.8rem 0 0 0.8rem;
}

.dash_boxes {
  box-shadow: 0 0 0 1.5px rgba(223, 224, 235, 0.724);
}

.dash_boxes:hover {
  box-shadow: 0 0 0 1.5px rgba(74, 89, 255, 0.724);
  color: rgba(74, 89, 255, 0.724);
}

.dash_boxes:hover h4 {
  color: rgba(74, 89, 255, 0.724);
}

#dark .dash_boxes:hover h4 {
  color: rgba(218, 221, 255, 0.724);
}

#dark .dash_boxes:hover {
  box-shadow: 0 0 0 1.5px rgba(199, 204, 253, 0.724);
  color: rgba(197, 201, 248, 0.724);
}

.all_tickets th {
  font-size: 1.4rem;
  color: rgba(159, 162, 180, 1);
  white-space: nowrap;
}

.tickets_table::-webkit-scrollbar {
  width: 4px;
  background: rgba(159, 162, 180, 0.3);
}

.tickets_table::-webkit-scrollbar-thumb {
  background: rgba(74, 89, 255, 0.724);
  border-radius: 10rem;
}

.tickets_data_menu {
  transition: 0.3s ease-in-out;
  top: 2.4rem;
  right: 3.2rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.show_ticket_data_menu.tickets_data_menu {
  top: 2.8rem;
  right: 3.6rem;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.nav_mobile_form {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overview_tasks_check {
  position: relative;
  appearance: none;
}

.overview_tasks_check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 18px;
  width: 18px;
  border-radius: 50%;
  box-shadow: 0 0 0 1.3px rgba(159, 162, 180, 0.6);
  padding: 1px;
  padding-left: 3px;
  cursor: pointer;
}

.overview_tasks_check:checked.overview_tasks_check::before {
  content: "✔";
  color: rgb(238, 241, 255);
  background: rgba(74, 89, 255, 0.724);
  box-shadow: none;
}

/*  */
/*  */
#dark .css-1yka45i {
  background-color: rgba(54, 55, 64, 1);
}
#dark .css-1yka45i h,
#dark .css-1yka45i p {
  background-color: rgb(238, 241, 255);
}

#dark .css-pll7g2-MuiPaper-root-MuiTableContainer-root {
  background: rgba(54, 55, 64, 1) !important;
  color: #f3f3f3 !important;
}

#dark .css-15wwp11-MuiTableHead-root th {
  background: rgba(54, 55, 64, 1);
  color: #fafafa !important;
}

#dark .css-8coetn {
  background: rgba(54, 55, 64, 1);
}

#dark .css-1xnox0e {
  background: rgba(54, 55, 64, 1);
}

#dark .css-nw3mfz {
  background: rgba(54, 55, 64, 1);
}

#dark .css-1q1u3t4-MuiTableRow-root p,
#dark .css-1q1u3t4-MuiTableRow-root h3,
#dark .css-1q1u3t4-MuiTableRow-root svg {
  color: #f3f3f3;
}

#dark .recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis line {
  stroke: #f3f3f3;
}
#dark tspan {
  opacity: 0.7;
  fill: #f3f3f3;
}

#dark .trends_cont p {
  color: #fefefe;
  opacity: 0.7;
}

#dark .trends_cont h3 {
  color: #fefefe;
}

#dark .trends_cont div {
  color: #fefefe;
}

#dark .recharts-layer.recharts-cartesian-axis.recharts-yAxis.yAxis line {
  stroke: #fefefe;
}

#dark .ticket_delete_opt svg {
  color: rgba(255, 83, 74, 0.724);
}

#dark .ticket_edit_opt svg {
  color: rgba(19, 19, 19, 0.724);
}
/*  */
/*  */

@media screen and (max-width: 1024px) {
  .sidebar_cont {
    transition: 0.35s ease-in-out;
    left: -200%;
  }
}

@media screen and (max-width: 476px) {
  .dash_boxes_row {
    grid-template-columns: 1fr;
  }
}

.show_side_bar.sidebar_cont {
  left: 0;
  top: 0;
  bottom: 0;
}

.show_side_bar_overlay.sidebar_over_lay {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
