@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
}

.app_layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 220px 1fr;
  align-items: stretch;
  gap: 1.4rem;
}

.sidebar_links a.active {
  background: rgba(159, 162, 180, 0.08);
}
