@tailwind base;
@tailwind components;
@tailwind utilities;

/*  */
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.4rem;
}

.app_layout {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 240px 1fr;
  align-items: stretch;
  gap: 1.4rem;
}
